* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex: 25%;
}

.user-name {
  color: blue;
}

.welcome-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.trending-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #ff5733;
  margin-top: 20px;
}

.welcome-heading span {
  color: #009688;
}
